<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.pool_size">151</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test?serverTimezone=America/Lima&amp;useSSL=false</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dbcp.initialSize">5</property>
        <property name="hibernate.dbcp.maxIdle">10</property>
        <property name="hibernate.dbcp.maxTotal">20</property>
        <property name="hibernate.dbcp.maxWaitMillis">-1</property>
        <property name="hibernate.dbcp.minIdle">5</property>
        <property name="hibernate.default_schema">test</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <mapping resource="hibernate-beans/Perfil.hbm.xml" />
        <mapping resource="hibernate-beans/Modulo.hbm.xml" />
        <mapping resource="hibernate-beans/Usuario.hbm.xml" />
        <mapping resource="hibernate-beans/Submodulo.hbm.xml" />
        <mapping resource="hibernate-beans/Opcion.hbm.xml" />
        <mapping resource="hibernate-beans/PerfilOpcion.hbm.xml" />
        <mapping resource="hibernate-beans/UsuarioPerfil.hbm.xml" />
    </session-factory>
</hibernate-configuration>
