<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<div th:replace="views/admin/layout/layout :: head"></div>
<link rel="stylesheet" th:href="@{/private/css/bootstrap-progressbar-3.3.4.min.css}" />
<link rel="stylesheet" th:href="@{/private/css/jqvmap.min.css}" />
</head>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<!-- sidebar menu -->
			<div th:replace="views/admin/layout/layout :: menu"></div>
			<!-- /sidebar menu -->

			<!-- top navigation -->
			<div th:replace="views/admin/layout/layout :: header"></div>
			<!-- /top navigation -->

			<!-- page content -->
			<div class="right_col" role="main">
				<!-- top tiles -->
				<h1>EXPEDIENTES</h1>
				<!-- /top tiles -->

				<div class="row" style="margin-top: 20px;">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="dashboard_graph">

							<div class="row x_title">
								<div class="col-md-6">
									<h3>
										Lista de expedientes
									</h3>
								</div>
								<div class="col-md-6">
									<div id="reportrange" class="pull-right"
										style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
										<i class="glyphicon glyphicon-calendar fa fa-calendar"></i> <span>June
											9, 2018 - July 8, 2018</span> <b class="caret"></b>
									</div>
								</div>
							</div>
							
							<div class=" row col-md-12 col-sm-12 col-xs-12 bg-white">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>#</th>
											<th>Nombre del expediente</th>
											<th>Fecha de creación</th>
											<th>Fecha de cierre</th>
											<th>¿En trámite?</th>
											<th style="text-align: center;">Manipular</th>
											<th style="text-align: center;">Eliminar</th>
										</tr>
									</thead>
									<tbody>
										 <tr th:each="e : ${expedientes}">
											<td th:text="${eStat.index} + 1" style="vertical-align: middle;"></td>
											<td th:text="${e.nombre}" style="vertical-align: middle;"></td>
											<td th:text="${#dates.format(e.fechaCreacion, 'dd/MM/yyyy | hh:mm a')}" style="vertical-align: middle;"></td>
											<td th:text="${e.fechaCierre != null ? #dates.format(e.fechaCierre, 'dd/MM/yyyy | hh:mm a') : 'No cerrado aún'}" style="vertical-align: middle;"></td>
											<td th:text="${e.isActive == true ? 'Sí' : 'No'}" style="vertical-align: middle;"></td>
											
											
											<td style="text-align: center;">
												<a th:href="@{'/admin/exp-doc/' + ${e.idexpediente}}" th:if="${e.isActive != true && e.isClosed != true}">
													<button type="button" class="btn btn-info" style="margin: 0; padding: 0 5px;">
														<span class="fa fa-folder-open" aria-hidden="true"></span>
													</button>
												</a>
												
												<a th:href="@{'/admin/exp-doc/' + ${e.idexpediente}}" th:if="${e.isActive == true || e.isClosed == true}">
													<button type="button" class="btn btn-info" style="margin: 0; padding: 0 5px;">
														<span class="fa fa-eye" aria-hidden="true"></span>
													</button>
												</a>
												
											</td>
											
											<td style="text-align: center;">
												<a th:href="@{'/admin/remove-exp/' + ${e.idexpediente}}" th:if="${e.isActive != true && e.isClosed != true}">
													<button type="button" class="btn btn-danger" style="margin:0; padding:0 5px;">
														<span class="fa fa-trash" aria-hidden="true"></span>
													</button>
												</a>

												<button type="button" class="btn btn-danger disabled" style="margin:0; padding:0 5px;" th:if="${e.isActive == true || e.isClosed == true}">
													<span class="fa fa-trash" aria-hidden="true"></span>
												</button>
											</td>
										</tr> 
									</tbody>
								</table>
							</div>
							
							<div class="row col-md-12 col-sm-12 col-xs-12 bg-white">
								<button type="button" data-toggle="modal" data-target="#modalAddExpediente" th:attr="data-target='#modalAddExpediente'" class="btn btn-primary pull-right">Agregar expediente</button>
							</div>
							
							<div class="modal fade in" th:id="modalAddExpediente">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true"></span></button>
											<h3 class="modal-title">Agregar expediente</h3>
										</div>
										<div class="modal-body">
											<form th:action="@{/admin/add-exp}" method="POST" enctype="multipart/form-data">
												<div class="row col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10px;">
													<label path="name">Nombre</label>
													<input type="text" class="form-control" required="" name="name" maxlength="50" />
												</div>
												
												<button class="btn btn-success pull-right" type="submit">Agregar</button>
												<button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Cancelar</button>												
											</form>
										</div>
									</div>
								</div>
							</div>

							<div class="clearfix"></div>
						</div>
						<h5 th:text="${error}" style="color: red; margin-top: 20px;"></h5>
						<h5 th:text="${acierto}" style="color: green; margin-top: 25px;"></h5>
					</div>

				</div>
				<br>

			</div>
			<!-- /page content -->

			<!-- footer content -->
			<footer>
				<div th:replace="views/admin/layout/layout :: footer"></div>
				<script th:src="@{/private/js/Chart.min.js}"></script>
				<script th:src="@{/private/js/gauge.min.js}"></script>
				<script th:src="@{/private/js/bootstrap-progressbar.min.js}"></script>
				
				<script th:src="@{/private/js/icheck.min.js}"></script>
				<script th:src="@{/private/js/skycons.js}"></script>
				<script th:src="@{/private/js/jquery.flot.js}"></script>
				
				<script th:src="@{/private/js/jquery.flot.pie.js}"></script>
				<script th:src="@{/private/js/jquery.flot.time.js}"></script>
				<script th:src="@{/private/js/jquery.flot.stack.js}"></script>
				
				<script th:src="@{/private/js/jquery.flot.orderBars.js}"></script>
				<script th:src="@{/private/js/jquery.flot.spline.min.js}"></script>
				<script th:src="@{/private/js/curvedLines.js}"></script>
				
				<script th:src="@{/private/js/date.js}"></script>
				<script th:src="@{/private/js/jquery.vmap.js}"></script>
				<script th:src="@{/private/js/jquery.vmap.world.js}"></script>
				
				<script th:src="@{/private/js/jquery.vmap.sampledata.js}"></script>
				<script th:src="@{/private/js/moment.min.js}"></script>
				<script th:src="@{/private/js/daterangepicker.js}"></script>
				<script th:src="@{/private/js/jsFlot.js}"></script>
			</footer>
			<!-- /footer content -->
		</div>
	</div>
</body>
</html>