<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<div th:replace="views/admin/layout/layout :: head"></div>
<link rel="stylesheet" th:href="@{/private/css/bootstrap-progressbar-3.3.4.min.css}" />
<link rel="stylesheet" th:href="@{/private/css/jqvmap.min.css}" />
</head>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<!-- sidebar menu -->
			<div th:replace="views/admin/layout/layout :: menu"></div>
			<!-- /sidebar menu -->

			<!-- top navigation -->
			<div th:replace="views/admin/layout/layout :: header"></div>
			<!-- /top navigation -->

			<!-- page content -->
			<div class="right_col" role="main">
				<!-- top tiles -->
				<h1>DOCUMENTOS</h1>
				<!-- /top tiles -->

				<div class="row" style="margin-top: 20px;">
					<div class="col-md-6 col-sm-6 col-xs-6">
						<div class="dashboard_graph">

							<div class="row x_title">
								<div class="col-md-6">
									<h3>
										Generar solicitud
									</h3>
								</div>
							</div>
							
							<form th:action="@{/admin/gen-solicitud}" method="POST">
								<div class="row col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 12px;">
									<label class="col-md-4 col-sm-4 col-xs-4" path="name">Apellidos: </label>
									<input class="col-md-4 col-sm-4 col-xs-4" type="text" required="" name="last_name" maxlength="50" th:value="${user.getDocentes().stream().findFirst().get().getApepaterno() + ' ' + user.getDocentes().stream().findFirst().get().getApematerno()}" style="margin-left: 5px;" />
								</div>
								
								<div class="row col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 12px;">
									<label class="col-md-4 col-sm-4 col-xs-4" path="name">Nombres: </label>
									<input class="col-md-4 col-sm-4 col-xs-4" type="text" required="" name="name" maxlength="50" th:value="${user.getDocentes().stream().findFirst().get().getNombres()}" style="margin-left: 5px;" />
								</div>
								
								<div class="row col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 12px;">
									<label class="col-md-4 col-sm-4 col-xs-4" path="name">DNI: </label>
									<input class="col-md-4 col-sm-4 col-xs-4" type="text" required="" name="doc" maxlength="50" th:value="${user.getDocentes().stream().findFirst().get().getNrodoc()}" style="margin-left: 5px;" />
								</div>
								
								<div class="row col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 12px;">
									<label class="col-md-4 col-sm-4 col-xs-4" path="name">Domicilio: </label>
									<input class="col-md-4 col-sm-4 col-xs-4" type="text" required="" name="domicilio" maxlength="50" th:value="${user.getDocentes().stream().findFirst().get().getDomicilio()}" style="margin-left: 5px;" />
								</div>
								
								<div class="row col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 12px;">
									<label class="col-md-4 col-sm-4 col-xs-4" path="name">Categoría actual: </label>
									<input class="col-md-4 col-sm-4 col-xs-4" type="text" required="" name="categoria_actual" maxlength="50" th:value="${user.getDocentes().stream().findFirst().get().getCategoria()}" style="margin-left: 5px;" />
								</div>
								
								<div class="row col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 12px;">
									<label class="col-md-4 col-sm-4 col-xs-4" path="name">Categoría a postular: </label>
									<input class="col-md-4 col-sm-4 col-xs-4" type="text" required="" name="categoria_nueva" maxlength="50" value="" style="margin-left: 5px;" />
								</div>
								
								<div class="row col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 12px;">
									<h5 th:text="${acierto1}" style="color: green; margin-top: 25px;"></h5>
								</div>
									
								<button class="btn btn-success pull-right" data-toggle="modal" data-target="#modalGenerar" type="submit">Generar</button>												
							</form>
											

							<div class="clearfix"></div>
						</div>
					</div>
					
					<div class="col-md-5 col-sm-5 col-xs-5 pull-right">
						<div class="dashboard_graph">

							<div class="row x_title">
								<div class="col-md-6">
									<h3>
										Subir solicitud
									</h3>
								</div>
							</div>
											
							<form th:action="@{/admin/save-doc-gen}" method="POST" enctype="multipart/form-data">
								<div class="row col-md-12 col-sm-12 col-xs-12">
									<label path="name">Nombre: </label>
									<input type="text" required="" name="name" maxlength="50" value="Solicitud" style="margin-left: 5px;" readonly />
								</div>
																			
								<div class="row col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">
									<label path="file">Archivo</label>
									<input type="file" required="" name="file" class="form-control-file" accept=".doc,.docx,.pdf,.jpg,.jpeg" />
								</div>
								
								<div class="row col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10px;">
									<h5 th:text="${acierto2}" style="color: green; margin-top: 20px;"></h5>
								</div>
												
								<button class="btn btn-success pull-right" type="submit">Subir</button>												
							</form>
											
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<br>

			</div>
			<!-- /page content -->

			<!-- footer content -->
			<footer>
				<div th:replace="views/admin/layout/layout :: footer"></div>
				<script th:src="@{/private/js/Chart.min.js}"></script>
				<script th:src="@{/private/js/gauge.min.js}"></script>
				<script th:src="@{/private/js/bootstrap-progressbar.min.js}"></script>
				
				<script th:src="@{/private/js/icheck.min.js}"></script>
				<script th:src="@{/private/js/skycons.js}"></script>
				<script th:src="@{/private/js/jquery.flot.js}"></script>
				
				<script th:src="@{/private/js/jquery.flot.pie.js}"></script>
				<script th:src="@{/private/js/jquery.flot.time.js}"></script>
				<script th:src="@{/private/js/jquery.flot.stack.js}"></script>
				
				<script th:src="@{/private/js/jquery.flot.orderBars.js}"></script>
				<script th:src="@{/private/js/jquery.flot.spline.min.js}"></script>
				<script th:src="@{/private/js/curvedLines.js}"></script>
				
				<script th:src="@{/private/js/date.js}"></script>
				<script th:src="@{/private/js/jquery.vmap.js}"></script>
				<script th:src="@{/private/js/jquery.vmap.world.js}"></script>
				
				<script th:src="@{/private/js/jquery.vmap.sampledata.js}"></script>
				<script th:src="@{/private/js/moment.min.js}"></script>
				<script th:src="@{/private/js/daterangepicker.js}"></script>
				<script th:src="@{/private/js/jsFlot.js}"></script>
			</footer>
			<!-- /footer content -->
		</div>
	</div>
</body>
</html>